body {
  background-color: #efeeee;
}

h1 {
  color: #00b46e;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

h2 {
  color: #77b790;
  font-weight: bold;
  font-size: 21px;
}

h3 {
  color: #9fc9ac;
  font-weight: bold;
  font-size: 16px;
}

code {
  color: #001e50;
}

tr:nth-child(5n) {
  background-color: #e1dfdf;
  
}

.beschr {
  font-size: 85%;
}

.mono {
  font-family: monospace, sans-serif;
  font-size: 105%;
}

.bar {
  color: #696485;
}
