body {
  background-color: #f7efe0;
}

h1 {
  color: #02acd6;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color: #01aad4;
  font-weight: bold;
  font-size: 21px;
}

h3 {
  color: #018eb0;
  font-weight: bold;
  font-size: 16px;
}

table, th, td {
  /*border: 1px dotted black;*/
  background-color: transparent !important;
}

tr:nth-child(5n) {
  background-color: #ded7ca !important;
}

code {
  color: #ed0000;
}

div.row {
  border-width: 0px;
}

.beschr {
  font-size: 85%;
}

.mono {
  font-family: monospace, sans-serif;
  font-size: 105%;
}

.bar {
  color: #ed0000;
}
